dotenv
google-generativeai
jsonlines
langchain-chroma
langchain-ollama
langchain-openai
openai
pandas
protobuf
pydantic
Pympler
click
ollama
fastapi
torch
transformers
accelerate
anthropic
yfinance
alpaca-py